__pycache__
.hypothesis
.coverage*
.eggs/**
.mypy_cache
.pytest_cache
.tox
build/**
dist/**
docs/build/**
htmlcov/**
*.egg-info/**
.idea
*.pyc

**/tests/data
nvjpeg2k_numcodecs/_version.py
nvjpeg2k_numcodecs/_nvjpeg2k.cpp
nvjpeg2k_numcodecs/_nvjpeg2k*.so

vendor/nvjpeg2k
vendor/libnvjpeg_2k*.tar.xz
